footer {
   
    background-color: rgb(83, 61, 231);
    display: ;
    color: black;
    text-align: center;
    padding: 20px;
    bottom: 0;
    width: 100%;
}

.container {
 
  flex-wrap: wrap;
  justify-content: center;
}

.phone-item {
    display: flex;
    align-items: center;
    margin: 20px;
  }

.phone-item img {
  margin-right: 20px;
}

.details {
  display: flex;
  flex-direction: column;
}


.charger-item{
    display: flex;
    align-items: center;
   
    padding-top: 20px;
  }

.airpods-item{
    display: flex;
    align-items: center;
    margin: 20px;
  }


.h1{
justify-content: center;
}

img{
  width: 10rem;
  aspect-ratio: 3/2;
}