footer {
    
    background-color: rgb(83, 61, 231);
    display: ;
    color: black;
    text-align: center;
    padding: 20px;
    bottom: 0;
    width: 100%;
}



.navbar hover{
    color: rgb(83, 61, 231);
    background-color: rgb(83, 61, 231);
}